table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
   border: 5px 0px 5px 0px solid #dddddd ;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #F2F2F8;
  }